apiVersion: "apps/v1"
kind: Deployment
metadata:
  name: {{ template "orion.fullname" . }}
  labels:
    app: {{ template "orion.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "orion.name" . }}
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  strategy:
{{ toYaml .Values.updateStrategy | indent 4 }}
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "{{ .Values.chaos.enabled }}"
      labels:
        app: {{ template "orion.name" . }}
        release: {{ .Release.Name }}
    spec:
    {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
    {{- end }}

      initContainers:
        - name: create-indexes
          image: {{ .Values.mongo.image }}
          imagePullPolicy: IfNotPresent
          command: [ "mongo", "--host", "{{ .Values.mongo.rs }}/{{ .Values.mongo.dbhost }}", "orion", "--eval", "db = db.getSiblingDB(\"admin\"); dbs = db.runCommand({ \"listDatabases\": 1 }).databases; dbs.forEach(function(database) { if(database.entities) database.entities.createIndexes([{\"_id.id\": 1}, {\"_id.type\": 1}, {\"_id.servicePath\": 1}, {\"attrNames\": 1}, {\"creDate\": 1}]); });" ]

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "contextBroker", "-fg", {{- if .Values.service.notificationMode }} "-notificationMode", "{{ .Values.service.notificationMode }}", {{- end }}{{- if .Values.service.httpTimeout }} "-httpTimeout", "{{ .Values.service.httpTimeout }}", {{- end }}{{- if .Values.service.multitenancy }}"-multiservice",{{- end }}{{- if .Values.service.disableMetrics }}"-disableMetrics",{{- end }}{{- if .Values.service.writeConcern }} "-writeConcern", "{{ .Values.service.writeConcern }}", {{- end }} "-logLevel", "INFO", "-dbhost", "{{ .Values.mongo.dbhost }}", {{- if .Values.mongo.replicaset }} "-rplSet", "{{ .Values.mongo.rs }}", {{- end }} "-dbTimeout", "10000", "-corsOrigin", "__ALL", "-reqMutexPolicy", "none" ]
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              path: /version
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /v2
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
